/* Card Container */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Card Styling */
  [data-theme='light']
  .card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  [data-theme='dark']
  .card {
    background: #5b5353;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 5px;
  }
  
  /* Search Bar Styling */
  .searchContainer {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  
  .searchInput {
    padding: 12px 20px;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #4CAF50;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .searchInput:focus {
    border-color: #4CAF50;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
  }
  
  .searchInput::placeholder {
    color: #bbb;
  }
  
  /* Optional: Add a subtle hover effect for the search bar */
  .searchInput:hover {
    border-color: #45a049;
    background-color: #f1f1f1;
  }

  
  